/* Estilos Gerais */
body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
}

        /* Container do Formulário */
form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 400px; 
            max-width: 90%;
}
        /* Título */
h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
}

        /* Labels */
label {
            display: block;
            margin-bottom: 8px;
            color: #555;
}

        /* Inputs */
input[type="text"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
}

input[type="password"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
}

        /* Botão de Envio */
input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
            width: 100%;
}

input[type="submit"]:hover {
            background-color: #45a049;
}

        /* Espaçamento entre elementos */
br {
            display: none; /* Remove as quebras de linha padrão */
}